<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    
    <style>
      .cascading-right {
        margin-right: -50px;
      }
      body{
       margin-left: 300px;
      
      }
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
        section{
          border: solid rgb(227, 255, 144);
        }
      }
      body{
        background-image: linear-gradient(
          #abe9cd,
          #95def4
            /* #ee7724,
          #f77c7e,
          #ec84ac,
          #b44593 */
        );
      }
    </style>
  </head>
  <body>
    <!-- <h1><%=title %></h1>
     <p>Welcome to <%= title %></p> -->

    <!-- <form align="center" method="get" action="/signupdetails">
      
      <input name="firstname" type="text" placeholder="firstname"/><br><br>
      <input name="lastname" type="text" placeholder="lastname"/><br><br>
      <input name="email" type="text" placeholder="email"/><br><br>
      <input name="number" type="text" placeholder="number"/><br><br>
      <button  type="submit">
        submit
      </button>


     </form> -->
  
    
    <section class="text-center text-lg-start">
      <!-- Jumbotron -->
      <div class="container py-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div
              class="card cascading-right"
              style="
              margin-top: -100px;
              background: hsla(300, 6%, 97%, 0.8);
              backdrop-filter: blur(30px);
              ">
              <div class="card-body p-5 shadow-5 text-center">
                <h2 class="fw-bold mb-5">Login now</h2>
                <form action="/demoo" method="get">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                 
                    <!-- <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                        name="studentname"
                          type="text"
                          id="form3Example1"
                          class="form-control"
                        />
                        <label class="form-label" for="form3Example1"
                          >First name</label
                        >
                      </div>
                    </div> -->
                    <label class="form-label" for="form3Example4"
                    >Name</label
                  >
                    <div class="form-outline mb-4">
                      <input
                        name="studentname"
                          type="text"
                          id="form3Example1"
                          class="form-control"
                        />
                     
                    </div>

                

                  <!-- Password input -->
                  <label class="form-label" for="form3Example4"
                  >Password</label
                >
                <div class="form-outline mb-4">
                  <input
                    name="studentpass"
                      type="text"
                      id="form3Example1"
                      class="form-control"
                    />
                 
                </div>
                <div class="form-outline mb-4">
                  <select name="year"  id="form3Example1"
                 class="form-control">
                   <option selected="selected" value="firstyear">I year</option>
                   <option value="secondyear">II year</option>
                   <option value="thirdyear">III year</option>
                   <option value="fouryear">IV year</option>
                  </select> 
                 
                 <!-- <input
                   name="year"
                     type="text"
                     id="form3Example1"
                     class="form-control"
                   /> -->
                
                   <label class="form-label" for="form3Example4"
                   >Year</label
                 >
              
                </div>
               <div class="form-outline mb-4">
                 <select name="semester"  id="form3Example1"
                 class="form-control">
                   <option selected="selected" value="one">I </option>
                   <option value="two">II </option>
                  
                  </select>
                   <label class="form-label" for="form3Example4"
                   >semester</label
                 >
               </div>
              
             
               <div class="form-outline mb-4">
                 <input
                   name="regno"
                     type="text"
                     id="form3Example1"
                     class="form-control"
                   />
                   <label class="form-label" for="form3Example4"
               >Register number</label
             >
               </div>
             
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                  </button>
                  <div>Don't have an Account ?<a href="signup">Signup</a></div>
            </div>
          </div>
        </div>
      </div>
     
    </section>
  </body>
</html>
