<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>invalid</title>
    <style>
      .invalid {
        color: red;
        margin-left: 450px;
        margin-top: 250px;
      }
      b {
        margin-left: 470px;
        margin-top: 250px;
      }
      a {
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1 class="invalid">Invalid Submission!</h1>
    <b>Don't have an Account? <a href="signup">Signup</a></b>
  </body>
</html>
