<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <table class="table table-bordered border-white table-info table-striped">
        <thead scope="row" class="table-success"> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form align="center" action="/courses" method="get">
      <br /><br />
      <input name="stdname" type="text" placeholder="name" /><br /><br />

      <input name="stdemail" type="text" placeholder="email" /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
